<%= stylesheet_link_tag 'register-new', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1 class="titulo has-text-centered is-size-1">Editar Información</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :'Contraseña' %> <em>(puedes dejar en blanco si es que no deseas cambiarla)</em><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em>(Mínimo <%= @minimum_password_length %> caracteres)</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :'Confirmar Contraseña' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :'Contraseña Actual' %> <i>(DEBES rellenar este cambio para actualizar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <%= f.label :'Nombre de Usuario' %><br />
    <%= f.text_field :nombre_usuario, autocomplete: "nombre_usuario" %>
  </div>

  <h2 class="subtitulo has-text-centered is-size-3">Información de Contacto</h2>

  <div class="field">
    <%= f.label :'Nombre' %><br />
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :'Teléfono' %><br />
    <%= f.text_field :telefono %>
  </div>

  <div class="actions">
    <%= button_tag(type: 'submit', class: 'button is-link') do %>
      Actualizar Datos
    <% end %>
  </div>
<% end %>

<h2 class="subtitulo has-text-centered is-size-4">Eliminar mi Cuenta</h2>

<div class="eliminar">
  <%= button_to "Eliminar mi cuenta", registration_path(resource_name), data: { confirm: "Estás seguro?", turbo_confirm: "Estás seguro?" }, method: :delete, class: 'button is-danger' %>
</div>

<div class="links-container">
  <%= link_to "Ir atrás", :back %>
</div>


