<%= stylesheet_link_tag 'joyas-compradas', media: 'all', 'data-turbolinks-track': 'reload' %>


<h1 class="titulo has-text-centered is-size-1">Estado de Ordenes</h1>

<% @ordenes.each do |orden| %>
  <div class="orden">
    <h2>Orden ID: <%= orden.id %></h2>
    <h3>Fecha de Creación: <%= orden.created_at.strftime("%d/%m/%Y") %></h3>
    
    <ul>
      <% orden.joyas.each do |joya| %>
        <li><%= joya.publicacion.nombre %> - <%= joya.estado %></li>
      <% end %>
    </ul>
  </div>
<% end %>