<%= stylesheet_link_tag 'joyas-compradas', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1 class="titulo has-text-centered is-size-1">Joyas Compradas</h1>

<% if @joyas_compradas.any? %>
  <table>
    <thead>
      <tr>
        <th>Joya</th>
        <th>Cantidad</th>
        <th>Precio unitario</th>
        <th>Precio total</th>
      </tr>
    </thead>
    <tbody>
      <% @joyas_compradas.each do |joya| %>
        <tr>
          <td><%= joya.publicacion.nombre %></td>
          <td><%= joya.cantidad %></td>
          <td>$<%= joya.publicacion.precio %></td>
          <td>$<%= joya.cantidad * joya.publicacion.precio %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No has comprado ninguna joya.</p>
<% end %>
