<%= stylesheet_link_tag 'carrito-index', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1 class="titulo has-text-centered is-size-1">Materiales</h1>

<section class="section">
  <div class="container">
    <% if @joyas.any? %>
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Material</th>
            <th>Cantidad</th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <tbody>
          <% precio_total = 0 %>
          <% @joyas.each do |joya| %>
            <tr>
              <td><%= joya.publicacion.nombre %></td>
              <td>
                <% if joya.estado == "No solicitado" %>
                  <%= form_with(model: joya, url: [joya.publicacion, joya], method: :patch, local: true) do |form| %>
                  <%= form.number_field :cantidad, value: joya.cantidad, class: 'input', style: 'max-width: 50px;' %> <%= joya.publicacion.unidad %> <br>
                  <%= form.submit 'A', class: 'button is-link is-light' %>
                  <% end %>
                <% else %>
                  <%= joya.cantidad %> <%= joya.publicacion.unidad %>
                <% end %>
              </td>
              <td>
                <%= button_to "E", [joya.publicacion, joya], method: :delete, data: { confirm: 'Estás seguro?' }, class: "button is-danger is-light" %>
              </td>
              <td>
                <% if joya.estado == "No solicitado" %>
                <%= button_to "SM", solicitud_compra_joya_path(joya), method: :patch, class: "button is-primary is-light" %>
                <% elsif joya.estado == "Aceptado"%>
                <div class="aceptado-rectangulo">Aceptado</div>
                <% elsif joya.estado == "Rechazado"%>
                <div class="rechazado-rectangulo">Rechazado</div>
                <% elsif joya.estado == "Pendiente"%>
                <div class="solicitado-rectangulo">Solicitado</div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4" class="has-text-right"><strong>Total:</strong></td>
            <td>$<%= precio_total %></td>
          </tr>
          <td>
            <% if @joyas.any? { |joya| joya.estado != "Aceptado" && joya.estado != "Rechazado" } %>
              <div class="mensaje-espera">
                Debes esperar a que se resuelvan todas las solicitudes para pagar.
              </div>
            <% else %>
              <%= button_to "Ir a pagar", pagar_path, method: :post, class: "button is-primary is-light" %>
            <% end %>
          </td>
        </tfoot>
      </table>
    <% else %>
      <h2 class="subtitulo has-text-centered is-size-3">Tu carrito está vacío!</h2>
    <% end %>
</div>
</section>