<%= stylesheet_link_tag 'register-new', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1 class="titulo has-text-centered is-size-1">Olvidaste tu contraseña?</h1>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :'Ingresa tu e-mail' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= button_tag(type: 'submit', class: 'button is-link') do %>
      Envíame el correo con las instrucciones
    <% end %>
  </div>
<% end %>


<div class="links-container">
  <%= render "devise/shared/links" %>
</div>

