<%= stylesheet_link_tag 'publicacions-show', media: 'all', 'data-turbolinks-track': 'reload' %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="contenedor_publicacion">
  <div class="contenedor_imagen">
    <h2>
      <%= image_tag @publicacion.imagen.url(:thumb), style: "min-width: 400px; min-height: 400px;" if @publicacion.imagen? %>
    </h2>
  </div>

  <div class="contenedor_info">
    <h1 class="titulo has-text-centered is-size-1"><%= @publicacion.nombre %></h1>
    <h2 class="titulo has-text-centered is-size-2"><%= @publicacion.codigo %></h1>
    <h2 class="titulo has-text-centered is-size-2"><%= @publicacion.categoria %></h2>
    <h2 class="titulo has-text-centered is-size-2">$<%= @publicacion.precio %></h2>
    <p class="descripcion"><%= @publicacion.descripcion %></p>

    <div class="container-joyas">
      <div class="box-joyas">
        <div class="joyas-form">
          <%= form_with(model: @joya, url: publicacion_joyas_path(@publicacion), local: true) do |form| %>
            <%= form.number_field :cantidad, placeholder: "Cantidad", style: 'width: 100px; height: 37px;' %> <%= @publicacion.unidad %> <br>
            <%= form.hidden_field :estado, value: "No solicitado" %>
            <%= form.hidden_field :usuario_id, value: current_usuario.id %> 
            <% if current_usuario.joyas.none? { |joya| joya.publicacion.nombre == @publicacion.nombre } %>
              <%= form.submit "Solicitar Material", class: "button is-link" %>
            <% else %> 
              <h3 class="titulo has-text-centered is-size-2"> Ya agregaste este material</h2>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="links-container">
  <% if (current_usuario && current_usuario.admin?)  %>
    <%= link_to 'Editar Publicación', edit_publicacion_path(@publicacion), class: "button is-link"%> <br>
  <% end %>
  <%= link_to 'Regresar al Listado de Materiales', publicacions_path %>
</div>





